<!doctype html>
<html>
<head>
  <title>Flaskr</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='jquery.terminal-0.8.8.min.js') }}"></script>

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.9.4/ladda.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='blog.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='jquery.terminal.css') }}">
  </head>
  <body>
    <div id="layout" class="pure-g">
      <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
          <h1 class="brand-title">BLE smart</h1>
          <h2 class="brand-tagline">by Kevin Bluett</h2>

          <nav class="nav">
            <ul class="nav-list">
              <li class="nav-item">
                {% if not current_user.is_authenticated() %}
                  <a class="pure-button" href="{{ url_for('login') }}">Login</a>
                {% else %}
                  <a class="pure-button" href="{{ url_for('login') }}">Debug</a>
                  <a class="pure-button" href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="content pure-u-1 pure-u-md-3-4">
        <div>
          <div id="flash_messages">
          {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
          {% endfor %}
          </div>

          {% block body %}{% endblock %}
          <div class="footer">
            <div class="pure-menu pure-menu-horizontal">
              <ul>
                <li class="pure-menu-item"><a href="http://purecss.io/" class="pure-menu-link">About</a></li>
                <li class="pure-menu-item"><a href="http://twitter.com/yuilibrary/" class="pure-menu-link">Twitter</a></li>
                <li class="pure-menu-item"><a href="http://github.com/yahoo/pure/" class="pure-menu-link">GitHub</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.9.4/spin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.9.4/ladda.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.9.4/ladda.jquery.min.js"></script>
    {% block page_javascript %}{% endblock %}
  </body>
  </html>